* {
    margin: 0;
    padding: 0;
  }
  
  .container-fluid img {
    height: 25px;
    width: 25px;
  }
  
  #list-movies {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
  }
